.a_few_words {
  position: relative;
}

.abstract {
  position: absolute;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r_col {
  width: 680px;
  height: 580px;
}

.img {
  width: 680px;
  height: 100%;
  object-fit: cover;
}

.l_col {
  width: calc(100% - 680px);
  height: fit-content;
}

.title {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

.signature {
  float: right;
}

@media screen and (max-width: 1224px) {
  .l_col {
    width: calc(100% - 480px);
  }

  .r_col {
    width: 480px;
    height: 380px;
  }

  .img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 380px;
    position: relative;
    z-index: 1;
  }

  .abstract {
    display: none;
  }

  .l_col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signature {
    width: 50%;
  }

  .r_col {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 300px;
  }

  .r_col {
    width: 100%;
    height: 100%;
  }
}
