.toShopping,
.showMore {
  padding: 22px 47px;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.toShopping:hover,
.showMore:hover,
.quizFinish:hover,
.order:hover,
.toCart:hover,
.placeAnOrder:hover {
  background-color: var(--accent-color-hover);
}

.toShopping:active,
.showMore:active,
.quizFinish:active,
.order:active,
.toCart:active,
.placeAnOrder:active {
  background-color: var(--accent-color-active);
}

.showMore {
  margin-top: 20px;
}

.applyFilter {
  padding: 22px 0;
  border-radius: 4px;
  width: 100%;
  background-color: var(--button-color);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-light);
}

.applyFilter:hover {
  background-color: var(--button-color-hover);
}

.resetFilter {
  padding: 0;
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-dark);
}

.resetFilter:hover {
  font-family: var(--font-title);
}

.nextStep {
  padding: 17px 42px;
  border-radius: 4px;
  border: 1px solid var(--text-color-dark);
  background-color: transparent;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-dark);
}

.nextStep:hover {
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
}

.quizFinish {
  margin-top: 10px;
  padding: 0 73px;
  width: 220px;
  height: 60px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-light);
}

.anyQuestions {
  height: 60px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-light);
}

.order {
  padding: 22px;
  margin-bottom: 23px;
  width: 430px;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-light);
}

.toCart {
  padding: 2px 47px;
  height: 50px;
  background-color: #f14f4f;
  border-radius: 4px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.toCart:hover {
  background-color: #cc4949;
}

.toCart:active {
  background-color: #8c2828;
}

.placeAnOrder {
  border-radius: 4px;
  padding: 2px 47px;
  margin-top: 10px;
  width: fit-content;
  height: 60px;
  background-color: var(--accent-color);
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-light);
}
