.container_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_menu {
  position: fixed;
  top: 64px;
  left: calc(50% - 240px);
  width: 480px;
  height: fit-content;
  padding: 20px 0;
  background-color: var(--bg-main-color);
  border-radius: 4px;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.nav__link {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .mobile_menu {
    left: calc(50% - 180px);
    width: 360px;
  }
}
